<h1>Sign Up <small>New Provider</small></h1>
<%= form_for @user, :url=>providers_path, :html=>{:class=>"form-horizontal"} do |f| %>
  <%= f.error_messages %>
  <%= render "users/form",{:f=>f} %>
<% end %>

