<h1 class="title">Improved Patient Care Through Improved CME Process</h1>
<div class="row-fluid">
  <div class="span4">
    <h3 class="well">Standardize</h3>
  </div>
  <div class="span4">
    <h3 class="well">Transparent</h3>
  </div>
  <div class="span4">
    <h3 class="well">Communicate</h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 offset3">
    <%= link_to "Provider Signup", new_provider_path, :class=>"btn btn-large" %>
    <%= link_to "Supporter Signup", new_supporter_path, :class=>"btn btn-large" %>
  </div>
</div>