<h1 class="title">Improved Patient Care Through Improved CME Process</h1>
<div class="row-fluid">
  <div class="span4">
    <div class="hero-unit">
      <h2>Standardize</h2>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h2>Transparent</h2>
    </div>
  </div>
  <div class="span4">
    <div class="hero-unit">
      <h2>Communicate</h2>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6" style="margin: 0 auto;">
    <%= link_to "Provider Signup", new_provider_path, :class=>"btn btn-large btn-primary" %>
    <%= link_to "Supporter Signup", new_supporter_path, :class=>"btn btn-large btn-inverse" %>
  </div>
</div>